n8n_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0f9bb6b9-0b05-4610-af33-f368f6d0620e",
      "name": "Webhook",
      "webhookId": "611ba9fa-6830-44dd-8244-e5fda1543686"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8001/triage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "1c4d11b2-e628-4ba9-8753-bbfdcc445302",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8842f527-ae61-4332-8277-6776b9d8cddc",
              "leftValue": "={{ $json.action }}",
              "rightValue": "escalated_to_human",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "820469a9-2176-4be2-8020-475afca95a6d",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.site/5a5100b0-f2dc-4f02-b7db-1da20a0fd441",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"Ticket {{ $('Webhook').item.json.body.ticket_id }} escalated to human review — category: {{ $('If').item.json.category }}, priority: {{ $('If').item.json.priority }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -96
      ],
      "id": "4d552a2b-725b-4ff6-a900-6d111a3bf3ae",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "759975f5-053c-4556-8beb-567cb17dca2c",
  "meta": {
    "instanceId": "8c8a998bc95ce6e08d8c02faaf8fd55f311d8a7aefbfd6584758495f5aac1125"
  },
  "nodeGroups": [],
  "id": "2ne1WKlqkZLMj0Mp",
  "tags": []
}